@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* générale*/
*{
    box-sizing: border-box;
}
body{
    background-color: #101214;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: whitesmoke;  
}
p{
    color: whitesmoke;
}
h1{
    font-size: 2em;
    margin:5px;
    font-variant: small-caps;
}
p{
    font-size:1.1em;
}
.border{
    border: 3px dashed whitesmoke;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 3%;
    padding: 7%;
    width: 100%;
}

/* Appel a l'action et boutton*/
.callact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: right;
    width: 50%;
    color: whitesmoke;
    padding-right: 10%;
}
.butte{
    background-color: rgba(0, 0, 0, 0);
    color:whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 10px 10px 10px 10px;
}
.butte:hover {
    transition: all 400ms ease-in-out;
    background-color: rgba(255, 255, 255, 1);
    color: #101214;
}
/* LOGO */
@keyframes tourbiLol{
    0%{
    transform: rotate(180deg);
    }
}
.laclé{
    animation: 0.8s ease-out 0s 1 tourbiLol;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    float: left;
    width: 50%;
    color: whitesmoke;
}

/* Portfolio carte et détail */
.detail{
    text-align: justify;
    float: right;
    width: 60%;
    padding-right: 5%;
}
.card{
    display: inline-flex;
    top:10%;
    left:10%;
    width:300px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}
.card .front{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform:rotateX(0deg);
    transition: 0.5s;
}
.card .back{
    position:absolute;
    left:0;
    width: 100%;
    height: 100%;
    background: #000;
    transform:rotateX(180deg);
    transition: 0.5s;
}
.card:hover .front{
    transform:rotateX(-180deg);
}
.card:hover .back{
    transform:rotateX(0deg);
}
.card .back .details{
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
.card .back .details h2{
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: #fff;
}
.card .back .details h2 span{
    color: #a7a7a7;
    font-size: 16px;
}
.social-icons{
    padding:10px 0;
}
.social-icons a{
    display: inline-block;
    width: 36px;
    height: 36px;
    text-align: center;
    background: #262626;
    color: #fff;
    text-decoration: none;
    border-radius: 50%;
    transition: 0.5s;
}
.social-icons a .fa{
    line-height: 36px;
}
.social-icons a:hover{
    background: #919191;
}
.card .back::before{
    content: '';
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2)
}
/* Portfolio mise en page */
.flex{
    display:flex;
    float:left;
    width: 40%;
    justify-content: center;
}
.projet{ 
    display: flex;
    width: 100%;
    justify-content: center;
}
.nav_projet{
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
}
.pcnprojet{
    padding: 20px;
    color: white;
}

/* refonte nav bar jolie jolie */
.nav{
    display: flex;
    padding-right: 10%;
    width: 100%;
    height: 100px;
    justify-content: flex-end;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
}
ul li a{
    display: block;
    position: relative;
    line-height: 50px;
    width: 200px;
    height: 50px;
    margin:0 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    transition: .5s;
}
ul li a span{
    position: absolute;
    transition: transform .5s;
}
ul li a span:nth-child(1),
ul li a span:nth-child(3)
{
    width: 100%;
    height: 2px;
    background: whitesmoke;
}
ul li a span:nth-child(1)
{
    top: 0;
    left: 0;
    transform-origin: right;
}
ul li a:hover span:nth-child(1){
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

ul li a span:nth-child(3)
{
    bottom: 0;
    left: 0;
    transform-origin: left;
}
ul li a:hover span:nth-child(3){
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

ul li a span:nth-child(2),
ul li a span:nth-child(4)
{
    width: 2px;
    height: 100%;
    background: whitesmoke;
}
ul li a span:nth-child(2)
{
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
}
ul li a:hover span:nth-child(2){
    transform: scale(1);
    transform-origin: top;
    transition: transform .5s;
}

ul li a span:nth-child(4)
{
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top;
}
ul li a:hover span:nth-child(4){
    transform: scale(1);
    transform-origin: bottom;
    transition: transform .5s;
}



/* Projet */

.espace{
    width: 100%;
}
.clear{
    clear: both;
}
footer{
    text-align: center;
    color: whitesmoke;
}

.projets{
    width: 100%;
    margin: 0;
    float:none;
    text-align: center;
    margin-top: 5%;
}
.slider{
    display: none;
}
.block_projet{
    padding: 5%;
}
.center{
    padding-top: 5%;
    display: flex;
    justify-content: center;
}
.no_slide{
    display: initial;
    height: 190px;

}
@media screen and
(min-width: 980px){
    .projets{
        height: 235px;
        border-right: 2px dotted whitesmoke;
        width: 40%;
        text-align: center;
        margin-top: 5%;
        float: left;
        margin-left: 5%;
    }
    .projets_d{
        height: 235px;
        border-left: 2px dotted whitesmoke;
        width: 40%;
        text-align: center;
        margin-top: 5%;
        float: right;
        margin-right: 5%;
    }
    .block_projet{
        padding: 5%;
    }
    .block_img{
        height: 235px;
        float: right;
        margin-right: 15%;
    }
    .no_slide{
        display: none;
    }
    .slider{
        display: block;
    }
    .slide{
        display: initial;
        float: left;
    }
    .slides{
        width: calc(444px*6);
        animation: glisse 20s infinite;
    }
    .slider{
        width:444px;
        overflow: hidden;
    }
    @keyframes glisse{
        0%{
            transform: translateX(0)
        }
        15%{
            transform: translateX(0)
        }
        20%{
            transform: translateX(-444px)
        }
        35%{
            transform: translateX(-444px)
        }
        40%{
            transform: translateX(-888px)
        }
        55%{
            transform: translateX(-888px)
        }
        60%{
            transform: translateX(-1332px)
        }
        75%{
            transform: translateX(-1332px)
        }
        80%{
            transform: translateX(-1776px)
        }
        95%{
            transform: translateX(-1776px)
        }
        100%{
            transform: translateX(0)
        }
        105%{
            transform: translateX(0)
        }
}
}
@media screen and
(max-width: 740px){
    ul{
        display: none;
    }
}
@media screen and
(max-width: 740px){ 
    .detail{
        width: 95%;
    }
    .flex{
        width: 100%;
    }
}
@media screen and
(max-width:770px){
    .flex{
        height: 550px;
        align-items: center;
    }
}
@media screen and
(max-width: 740px){
    .logo{
        float:none;
        width:100%;
    }
    .laclé{
        width: 80%;
    }
    .callact{
        width:100%;
        padding-left: 15%;
    }
}
